header{
    border: 1px solid inherit;

}
nav {
    border-bottom: 1px solid gray;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
nav .logo{
    border: 1px solid inherit;
    padding: 1rem 0;
}
nav .logo h1{
    font-size: 1.2rem;
    font-weight: 700;
}
nav ul {
    border: 1px solid inherit;
    list-style-type: none;
    padding: 1rem;
    display: flex;
    justify-content: end;
    align-content: end;
    gap: calc(3vw + 2px);
}
nav ul li{
    cursor: pointer;
}